.stacked-cards.open .card:nth-child(1) {
  transform: translateX(80px) rotate(50deg);
}

.stacked-cards.open .card:nth-child(2) {
  transform: translateX(40px) rotate(30deg);
}

.stacked-cards.open .card:nth-child(3) {
  transform: rotate(10deg);
}