.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.backface-hidden {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.perspective-1000 {
  perspective: 1000px;
}

.rotateY-0 {
  transform: rotateY(0deg);
}

.rotateY-180 {
  transform: rotateY(180deg);
}
